<div class="buttons page">

  <form action="/login" method="POST">
    <label for="username" style="width: 100px;">Username</label>
    <input type="text" name="username" />

    <br /><br />

    <label for="password" style="width: 100px;">Password</label>
    <input type="password" name="password" />

    <br /><br />

    <button type="submit" value="submit">Sign In</button>
  </form>

</div>
