<div class="buttons page">

  <form action="register" method="POST">

    <div style="float: left; margin-right: 40px;">
      <label for="login">Username</label><br/>
      <input type="text" name="username" />
    </div>

    <div style="float: left;">
      <label for="name">Real Name</label><br/>
      <input type="text" name="name" />
    </div>

    <br style="clear: both;"/><br />

    <div style="clear: both; float: left; margin-right: 40px;">
      <label for="email">E-mail</label><br/>
      <input type="text" name="email" />
    </div>

    <div style="float: left;">
      <label for="website">Website</label><br/>
      <input type="text" name="website" />
    </div>

    <br style="clear: both;"/><br />

    <div style="clear: both; float: left; margin-right: 40px;">
      <label for="password">Password</label><br/>
      <input type="password" name="password" />
    </div>

    <div style="float: left;">
      <label for="confirm">Confirm Password</label><br/>
      <input type="password" name="confirm" />
    </div>

    <br style="clear: both;"/><br />

    <div class="buttons">
      <a href="/">Cancel</a>
      <button type="submit" value="register">Sign Up</button>
    </div>

  </form>

</div>
